<!-- @@master = pt_home.html-->

<!-- @@block = content-->
<main class="main container-fluid">
	<div class="row">
		<div class="main__popular col-12 no-gutters">
			<a href="#" class="main__popular-link gallery__link">
				<div class="main__popular-image-label">для новорожденных</div>
				<img src="img/content/popular.jpg" alt="для новорожденных" class="main__popular-image">
				<div class="gallery__description">Новая коллекция</div>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="main__popular col-12 no-gutters">
			<a href="#" class="main__popular-link gallery__link">
				<div class="main__popular-image-label">распродажа</div>
				<img src="img/content/coming-soon.jpg" alt="распродажа детской одежды" class="main__popular-image">
				<div class="gallery__description">Скидки на коллекцию 2017 года</div>
			</a>
		</div>
	</div>

	<div class="row">
		<ul class="sale-gallery gallery">
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link">
					<img src="img/content/sale-gallery-image__2.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">подарочные наборы</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link ">
					<img src="img/content/sale-gallery-image__1.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">новорожденные</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="girls.html" class="gallery__link">
					<img src="img/content/sale-gallery-image__2.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">девочки</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link">
					<img src="img/content/sale-gallery-image__3.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">мальчики</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link">
					<img src="img/content/sale-gallery-image__4.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">текстиль</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link">
					<img src="img/content/sale-gallery-image__2.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">ткани, фурнитура</div>
				</a>
			</li>
		</ul>
	</div>

	<div class="main__site-description row">
		Тут можна описати переваги купівлі саме в тебе, може бути швидка доставка, якісна бавовна бережно відібрана в якихось нігерійців, безкоштовно два пляхана пива...
	</div>
</main>	
<!-- @@close -->
