<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>INDEX</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/reset.min.css">
		<link rel="stylesheet" href="css/font-style.min.css">
		<link rel="stylesheet" href="css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="css/custom.min.css">
<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script> -->
	</head>
<body>
	<!-- @@include ../../components/header/header.html -->
	<!-- @@include ../../components/header/menu.html -->

<main class="container-fluid">
	<!-- @@include ../../components/header/menu-mobile.html -->
	<div class="row">
		<div class="girls-gallery__heading col-10">
			РЕЗУЛЬТАТИ ПОИСКА: "МАЛЬЧИКИ"
		</div>
		<div class="girls-gallery__count col-3 offset-9">
			28 позиций
		</div>
	</div>
	<div class="row">
		<ul class="sale-gallery gallery">
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link">
					<img src="img/content/sale-gallery-image__2.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">боди</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link ">
					<img src="img/content/sale-gallery-image__1.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">ромперы</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link">
					<img src="img/content/sale-gallery-image__2.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">платья</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link">
					<img src="img/content/sale-gallery-image__3.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">пижамы</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link">
					<img src="img/content/sale-gallery-image__4.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">свитшоты</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link">
					<img src="img/content/sale-gallery-image__2.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">песочники</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link">
					<img src="img/content/sale-gallery-image__4.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">аксесуары</div>
				</a>
			</li>
			<li class="gallery__item col-6">
				<a href="#" class="gallery__link">
					<img src="img/content/sale-gallery-image__2.jpg" alt="одяг дитячий" class="gallery__image">
					<div class="gallery__description">наборы</div>
				</a>
			</li>
		</ul>
	</div>
</main>
	<!-- @@include ../../components/footer/footer.html -->
		
</body>
</html>