<ul class="network__list">
	<li class="network__item">
		<a class="network__link icon_f" href="https://www.facebook.com/profile.php?id=100006640022620"></a>
	</li>

	<li class="network__item">
		<a class="network__link icon_p" href="https://google.com.ua"></a>
	</li>

	<li class="network__item">
		<a class="network__link icon_i" href="https://www.instagram.com/mandarynka_handmade/?hl=uk"></a>
	</li>

	<li class="network__item">
		<a class="network__link icon_t" href="https://www.instagram.com/?hl=uk"></a>
	</li>

	<li class="network__item">
		<a class="network__link icon_y" href="https://www.youtube.com/?hl=uk&gl=UA"></a>
	</li>
</ul>