<header class="header container-fluid">
	<div class="row">
		<ul class="network-list col-8">
			<li class="network-item">
				<a class="network-item__link network-item__icon-f" href="https://www.facebook.com/profile.php?id=100006640022620"></a>
			</li>

			<li class="network-item">
				<a class="network-item__link network-item__icon-p" href="https://google.com.ua"></a>
			</li>

			<li class="network-item">
				<a class="network-item__link network-item__icon-i" href="https://www.instagram.com/mandarynka_handmade/?hl=uk"></a>
			</li>

			<li class="network-item">
				<a class="network-item__link network-item__icon-t" href="https://www.instagram.com/?hl=uk"></a>
			</li>

			<li class="network-item">
				<a class="network-item__link network-item__icon-y" href="https://www.youtube.com/?hl=uk&gl=UA"></a>
			</li>
		</ul>

		<div class="multiregional col-4">
			<a href="#" class="multiregional__link multiregional__link_ua d-inline-block">
				ua
			</a>
			<a href="#" class="multiregional__link multiregional__link_en d-inline-block">
				en
			</a>
			<a href="#" class="multiregional__link multiregional__link_ru d-inline-block">
				ru
			</a>
		</div>

		<div class="logo col-12 col-sm-7 order-sm-0">
			<a href="index.html" class="logo__link">
				<div class="logo__text d-inline-block">tangerine</div>
				<!-- <img src="img/logo/tangerine-logo.png" alt="" class="logo__img"> -->
			</a>
		</div>
		
	</div>
</header>