<menu class="menu container-fluid">
	
	<ul class="menu-list row">
		<li class="menu-item">
			<a  class="menu-item__link" href="#">
		girls
			</a>
		</li>

		<li class="menu-item">
			<a  class="menu-item__link" href="template.html">
		mammies
			</a>
		</li>

		<li class="menu-item">
			<a  class="menu-item__link" href="template.html">
		pappies
			</a>
		</li>

		<li class="menu-item">
			<a  class="menu-item__link" href="template.html">
		toys
			</a>
		</li>

				<li class="menu-item">
			<a  class="menu-item__link" aria-selected="true" href="home.html">
		boys		
			</a>
		</li>
		
		<li class="menu-item">
			<a  class="menu-item__link" href="gallery.html">
		girls
			</a>
		</li>
		
		<li class="menu-item">
			<a  class="menu-item__link" href="template.html">
		mammies
			</a>
		</li>
		
		<li class="menu-item">
			<a  class="menu-item__link" href="template.html">
		pappies
			</a>
		</li>

		<li class="menu-item">
			<a  class="menu-item__link" href="template.html">
		toys
			</a>
		</li>
	</ul>
	
</menu>